:root {
  --primary: #ef4723;
  --success: #00b797;
  --danger: #c70b0b;
  --title-color: #FFFFFF;
  --text-color: rgb(95, 97, 103);
  --light-gray: rgb(223, 221, 220);
  --input-text: #1d2327;
  --input-focus-bg: #fff2f3;
  --input-focus-border: #dd222e;
  --form-background: #dbdbdb;
  --disabled-color: #a9a9a9;
}
